:root {
    --main:#fef;
    --main-darker: #dcd;
    --text: #000;
    --outline:#101;
}

nav .tabs {
    background: var(--main-darker);
    border-bottom: 1px solid var(--outline);
    padding: 16px;
}

.tab {
    margin: 4px;
    list-style-type: none;
    display: inline-block;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}