.tabs {
  height: 70px;
}

.tabs-buttons {
  display: flex;
  font-size: 28px;
  margin: 10px;
  height: 70%;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.mainPage {
  height: calc(100vh - 150px);
}