:root {
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;

  --furthest: #000000;
  --very-far: #111111;
  --pretty-far: #1e1e1e;
  --far: #333333;
  --close: #373737;
  --text: #e0e0e0;
  --text-selected: #d2a1d4;
  --text-bg: #1e0217;

  color: var(--text);
  background-color: var(--furthest);

  overflow-x: hidden;
  overflow-y: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.page {
  background-color: var(--very-far);
  padding: 6px;
  margin: 12px;
  border-radius: 20px;
}

hr, br {
  color: var(--very-far);
  border: 2px solid;
  border-color: var(--very-far);
}

a {
  font-weight: 500;
  color: var(--text);
  text-decoration: inherit;
}

a:hover {
  color: var(--text-selected);
  background-color: var(--text-bg);
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text);
  background-color: var(--pretty-far);
  box-shadow: 0 2px 4px var(--far);
}

button {
  cursor: pointer;
  padding: 2px;
}

button:hover, form input[type=submit]:hover {
  color: var(--text-selected);
  background-color: var(--far);
}

button:active, form input[type=text] {
  border-color: var(--text-bg);
  background-color: var(--far);
}

input,
button {
  outline: none;
}

.errorString {
  background-color: var(--text);
  padding: 10px;
  color: rgb(239, 0, 0);
}